<h1 class="text-3xl font-bold underline text-blue-600">
    Hello world!
</h1>

<ngx-heroicons [icon]="'arrow-down'" [style]="'outline'" class="size-10 text-green-500"></ngx-heroicons>
<ngx-heroicons [icon]="'arrow-up-circle'" [style]="'solid'" class="size-10 text-red-500"></ngx-heroicons>

<ngx-heroicons [icon]="'academic-cap'" [style]="'mini'" class="size-10 text-red-500"></ngx-heroicons>

<ngx-heroicons [icon]="'adjustments-horizontal'" [style]="'micro'" class="size-10 text-red-500"></ngx-heroicons>



<!-- TODO: -->

<!-- https://chatgpt.com/c/67ed8d45-ec28-800b-b642-047446928dac -->